/* .home-img {
    background: url(./assets/profile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.337);
    order: 1;
    justify-self: center;
    animation: profile_animate 4s ease-in-out infinite 1s;
    border-radius: 50%; 
}*/
/* @keyframes profile_animate {
    0% {
        border-radius: 65% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 65% 40% 30% 70%/60% 30% 70% 40%;
    }
}  */