@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

*{
    font-family: "Gugi", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.name{
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-radius: 25px;
    padding: 7px;
    border: 2px solid rebeccapurple;
    background-color:rgba(48, 35, 106, 0.184) ;
    color: rgba(245, 245, 245, 0.522);
}
nav{
    margin:10px;
    padding: 10px;
    /* border: 2px solid red; */
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    div h1{
        font-family: "Gugi", sans-serif;
        font-weight: 1000;
        font-style:normal; 
        font-size: 23px;
    }
    .sections{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        border: 2px solid rgba(102, 51, 153, 0.636);
        padding: 15px;
        border-radius: 25px;
        background: rgba(32, 25, 59, 0.429); 
        position: fixed;
        margin-left: 1120px;
        margin-top: 30px;
        .hori-bar{
            display: none;
        }
        #under-bar{
            display: flex;
            flex-direction: column;
        }
    }
}
#under-bar:hover{

    .hori-bar{
        display: block;
        height: 3px;
        background-color: rgba(89, 75, 151, 0.838) ;
        animation: bar-animate 0.7s ease-in  ;
    }
}
a:hover{
   color: rgb(187, 187, 187);         
}
@keyframes bar-animate {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}