@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.nav-component{
    height: 70px;
    width: 75%;
    padding: 10px;
    margin-left: 180px;
    margin-top: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    color: white;
    background: linear-gradient(to right,#201f1ff9,#343230f0);
    position: sticky;
    top: 10px;
    /* border-bottom: 1px solid black; */
    .sections ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 80px;
        li{
            font-weight: 300;
            cursor: pointer;
            font-size: smaller;
            list-style: none;
            text-transform: uppercase;
            font-family: "Emilys Candy", serif;
        }
        li:hover{
            cursor: pointer;
            border-bottom: 1px solid rgb(250, 250, 250);
        }
    }
}

#loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation-name: loading; */
}

#loader h1{
    font-size: 4vw;
    font-family: "Cinzel", serif;
    font-weight: 800;
    color: transparent;
    background: linear-gradient(to right,#dfa968,#d0bea8);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2.5s;
}
#loader h1:nth-child(3){
    animation-delay: 4s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* @keyframes loading {
    90%{
        top: -100%;
    }
} */

@media (max-width:600px) {
    #loader h1{
        font-size: 9vw;
      
    }
}